/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-variation-settings: "wght" var(--text-weight);
}

.gradient {
  background-image: var(--background-image);
  position: fixed;
  width: 1440px;
  height: 100%;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parent-gradient {
  display: grid;
  place-items: center;
  height: 100%;
  position: absolute;
  z-index: -2;
}

.header {
  font-family: var(--font-accent);
  width: clamp(375px, 100%, 1440px);
  height: clamp(667px, 100vh, 960px);
  padding-top: 100px;
  justify-self: center;
}

.heading {
  background-color: #fff;
  width: clamp(375px, 50vw, 700px);
  height: clamp(327px, 40vh, 368px);
  justify-self: center;
  border: 2px solid #000;
  padding-top: 125px;
}

.main-heading {
  font-size: 65px;
}

.subtitle {
  text-transform: uppercase;
  font-size: 23px;
  width: clamp(210px, 80%, 345px);
  align-self: center;
  margin-top: 23px;
}

.dop-heading {
  display: grid;
  place-items: center;
}

.card:first-child {
  margin-top: -386px;
}

.card {
  margin: 50px auto 0 auto;
  width: clamp(375px, 60%, 700px);
  height: clamp(823px, 959px, 1001px);
  display: block;
  background-color: #fff;
  border: 2px solid #000;
}

.card:nth-child(2),
.card:nth-child(4),
.card:nth-child(7) {
  height: clamp(823px, 1001px, 1001px);
}

.card:nth-child(5) {
  height: clamp(823px, 1021px, 1021px);
}

.card:nth-child(8) {
  height: clamp(823px, 1041px, 1041px);
}

.card-heading {
  font-size: 18px;
  padding: 5px 10px 5px 10px;
}

.img {
  width: 696px;
}

.image-container {
  position: relative;
}

.image-label {
  position: absolute;
  right: 25px;
  top: 28px;
  font-size: var(--main-font-size);
  font-family: var(--font-accent);
  -webkit-text-stroke: 0.3px #fff;
}

.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
}

.article {
  width: clamp(321px, 100%, 646px);
  justify-self: center;
  margin-top: 25px;
  font-size: 18px;
}

.subtitle-p {
  margin-top: 27px;
}

.card__like-button {
  width: 169px;
  height: 38px;
  display: flex;
  outline: none;
  gap: 10px;
  margin: 25px 0 0 498px;
}

.button__text {
  display: block;
  border: 2px solid #000;
  width: 130px;
  height: 38px;
  line-height: 35px;
  font-size: var(--main-font-size);
  font-family: var(--font-accent);
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s linear;
}

.button__text:hover {
  background-position: left bottom;
  color: #fff;
}

*:focus {
  outline: none;
}

.button__text:focus {
  box-shadow: 2px 2px rgb(0, 0, 0);
}

.like-icon {
  align-self: center;
}

.svg-parent {
  width: 39px;
  height: 38px;
  border: 2px solid transparent;
  align-self: center;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: border-color 0.3s ease;
}

.sparks {
  opacity: 0;
}

.svg-parent:focus {
  border: 2px solid black;
}

.button-dialog {
  width: 335px;
  height: 55px;
  border: 2px solid #000;
  font-family: var(--font-accent);
  margin-top: 50px;
  margin-bottom: 50px;
}

.save-label {
  font-size: var(--main-font-size);
}

.footer {
  justify-content: center;
  display: flex;
}

dialog {
  width: 353px;
  height: 191px;
  border: none;
  padding: 0;
  background: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: #000 2px solid;
  z-index: 1000;
  margin: 0;
}

.menu-open {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  line-height: 140%;
  gap: 15px;
  text-transform: uppercase;
}

.svg-image {
  margin-top: 13px;
}

.dialog-heading {
  width: 234px;
  height: 63px;
  font-size: var(--main-font-size);
  font-family: var(--font-accent);
}


dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.close-button {
  width: 293px;
  height: 38px;
  font-size: var(--main-font-size);
  font-family: var(--font-accent);
  border: 2px solid black;
  margin: 32px 0 0 28px;
  text-transform: uppercase;
}

.button-dialog {
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s linear;
}

.button-dialog:hover {
  background-position: left bottom;
  color: #fff;
  stroke: #fff;
}

.button-dialog:focus,
.close-button:focus {
  box-shadow: 2px 2px rgb(0, 0, 0);
}

.core {
  fill: none;
  transition: fill 0.3s ease;
}

.like-icon:hover .core {
  fill: var(--contour-color);
}

.like-icon:not(:hover) .core {
  transition-delay: 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s ease;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s; 
}

.is-liked .core {
  animation: core .3s linear forwards;
}

.is-liked .main-body {
  animation: main-body .3s linear forwards;
}

.is-liked .contour {
  animation: contour .3s linear forwards;
}

.is-liked .heart {
  animation: heart .3s linear;
}

.is-liked .sparks {
  animation: sparkl .3s linear 0.3s;
}

.is-liked .heart {
  transform-origin: center;
  animation: size 0.3s ease-in 0.1s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3 ease;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3 ease 0.3;
}


@media (width <=375px) {
  *all {
    max-width: 375px;
  }

  .img {
    width: 373px;
  }

  .card:first-child {
    margin-top: -140px;
    height: 760px;
  }

  .main-heading {
    font-size: 49px;
  }

  .subtitle {
    font-size: var(--main-font-size);
    margin-top: 20px;
    text-align: center;
  }

  .heading {
    padding-top: 120px;
  }

  .article {
    width: 320px;
    margin-top: 22px;
  }

  .card:nth-child(2) {
    height: 823px;
  }

  .card:nth-child(3) {
    height: 739px;
  }

  .card:nth-child(4) {
    height: 802px;
  }

  .card:nth-child(5) {
    height: 844px;
  }

  .card:nth-child(6) {
    height: 718px;
  }

  .card:nth-child(7) {
    height: 781px;
  }

  .card:nth-child(8) {
    height: 863px;
  }

  .button-dialog {
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 84px;
    gap: 8px;
  }

  .svg-element {
    width: 28px;
    height: 28px;
    align-self: center;
    margin-top: 16px;
  }

  .image-label {
    position: absolute;
    right: 10px;
    top: 25px;
  }

  .card__like-button {
    margin: 25px 0 0 177px;
    gap: 0;
  }

}